<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>float.html</title>
  <style>
    img{
      width: 150px;
      height: 150px;
      float: left;
    }
    .left{
      float: left;
      width: 100px;
      height: 100px;
      background-color: lightblue;
    }
    .right{
      float: right;
      background-color: orange;

    }
    .clear{
      clear: both;
    }
  </style>
</head>
<body>
  <img src="../../a_html/images/dog01.jpg" alt="강아지"  />
  <p>PGA투어 챔피언스가 29일(이하 한국시간) 시니어 오픈 챔피언십에서 우승한 최경주(54·SK텔레콤)의 소식을 알리며 또 하나의 기쁜 소식을 전했다. 

    바로 최경주 아들의 우승 소식이다. 미국 아이비리그 듀크 대학교 3학년에 재학 중인 최경주의 차남 최강준(대니얼)이 지난 28일 미국 루이지애나주 먼로 바유 디시어드 컨트리클럽에서 열린 콜 코튼 스테이츠 아마추어 대회에서 정상에 올랐다. 
    </p>
    <hr />
    <div class="left">왼쪽에 뜨는 요소</div>
    <div class="right">오른쪽에 뜨는 요소</div>
    <div class="none">float해제</div>
</body>
</html>