.box{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 15px;
  font-size: 10px;
  text-align: center;
  /* 높이값과 동일하게 지정하면 세로정렬 */
  line-height: 100px;
  background-color: lightskyblue;
  border: 5px;
  border: 1px;
  border: thin;
  border: medium;
  border: thick;
}

.boxes{
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 15px;
  font-size: 10px;
  text-align: center;
  /* 높이값과 동일하게 지정하면 세로정렬 */
  line-height: 100px;
  background-color: lightskyblue;
  border-style: solid;
}
